$ss: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$hd: 1920px;

$black: #000;
$white: #fff;
$gray: #444;
$dark: #2D3653;
$light-gray: #f0f0f0;
$superlight-gray: #f2f2f2;
$border-color: #D9D9D9;
$deep-red: #B01736;
$red: #A30C33;
$red-bg: #C80036;
$light-red: #D43152;

$font-family-base: 'Proxima Nova Condensed', sans-serif;